{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-header bg-primary text-white">
                    <h3 class="text-center mb-0">Inscription</h3>
                </div>
                <div class="card-body">
                    {{ form_start(registrationForm) }}
                        <div class="mb-3">
                            {{ form_label(registrationForm.email) }}
                            {{ form_widget(registrationForm.email) }}
                            {{ form_errors(registrationForm.email) }}
                        </div>
                        
                        <div class="mb-3">
                            {{ form_label(registrationForm.plainPassword) }}
                            {{ form_widget(registrationForm.plainPassword) }}
                            {{ form_errors(registrationForm.plainPassword) }}
                        </div>
                        
                        <div class="d-grid">
                            {{ form_widget(registrationForm.submit) }}
                        </div>
                    {{ form_end(registrationForm) }}
                    
                    <div class="text-center ">
                        <p class="">Déjà un compte ? <a href="{{ path('app_login') }}" class="text-decoration-none">Connectez-vous</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}